.elem {
    width: 50px;
    height: 50px;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.active {
    animation: elem 3s ease infinite;
}

@keyframes elem {
    0% {
        background-color: white;
    }
    20% {
        background-color: green;
    }
    40% {
        background-color: red;
    }
    60% {
        background-color: blue;
    }
    80% {
        background-color: yellow;
    }
    100% {
        background-color: orange;
    }
}